.board{
  display: flex;
  margin-bottom: 6vh;
}

.card-show{
  background-image: url("https://js-holdem.s3-us-west-1.amazonaws.com/deck400.png");
  margin: 0px 0px 0px 5px;
  border-radius: 7px;
  width: 72px;
  height: 106px;
}

.card-hide{
  background-image: url("https://js-holdem.s3-us-west-1.amazonaws.com/cardback_red_acorn2.jpg");
  background-position-x: -2px;
  background-position-y: -4px;
  background-size: 75px 112px;
  margin: 0px 0px 0px 5px;
  border-radius: 7px;
  width: 72px;
  height: 106px;
}

.hand{
  display: flex;
  flex-direction: column;
  margin: 0vh 6vw 5vh 2vw;
}

.hand-cards{
  display: flex;
}

.hand-val{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hand-val-txt{
  font-family: Open sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.players{
  height: 37vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}